@import "src/assets/scss/variables.scss";

.header-back-button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  cursor: pointer;
}

.header-section-title {
  font-size: 32px;
  @include title-font;
  font-weight: 900;
}

.header,
.header-back-button {
  margin: 0 0 30px;
}
